<!DOCTYPE html>

<html>
     <head>
          <title>Webapp</title>
     </head>
     
     <body>
          <h1>Dogs!</h1>
          <p>Page about doggos! In progres.</p>
     </body>
     
     
     
</html>